.page{
  width:100%;
  min-height:100vh;
  background: linear-gradient(135deg,#1e3c72,#2a5298);
  padding:20px;
  box-sizing:border-box;
  overflow-x:hidden;
  font-family:Arial;
}

/* LAYOUT */
.layout{
  display:flex;
  gap:20px;
  max-width:1300px;
  margin:auto;
}

/* MAIN */
.main{
  flex:3;
}

/* HEADER */
.header{
  text-align:center;
  margin-bottom:25px;
}

.logo{
  font-size:42px;
  color:white;
  animation: pop 2s infinite;
}

.sub{
  color:#cfe8ff;
}

/* GRID */
.grid{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap:20px;
}

/* CARD */
.card{
  background: linear-gradient(145deg,#ffffff,#eaf2ff);
  border-radius:20px;
  padding:20px;
  text-align:center;
  cursor:pointer;
  transition:0.3s;
  box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.card:hover{
  transform: translateY(-10px) scale(1.05);
  box-shadow:0 20px 40px rgba(0,0,0,0.3);
}

/* ICON */
.icon{
  font-size:40px;
  width:60px;
  height:60px;
  margin:auto;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:50%;
  background: radial-gradient(circle,#4facfe,#00f2fe);
  color:white;
  margin-bottom:10px;
}

/* SIDE */
.side{
  flex:1;
  display:flex;
  flex-direction:column;
}

/* TITLE */
.sideTitle{
  color:white;
  text-align:center;
  margin-bottom:10px;
}

/* SCROLL FEED */
.scrollFeed{
  height:520px;
  overflow-y:auto;
  display:flex;
  flex-direction:column;
  gap:12px;
  padding-right:8px;
}

/* FEED CARD */
.feedCard{
  background: linear-gradient(135deg,#ffffff,#eaf2ff);
  padding:15px;
  border-radius:15px;
  font-size:14px;
  box-shadow:0 8px 20px rgba(0,0,0,0.15);
  transition:0.3s;
  cursor:pointer;
}

.feedCard:hover{
  transform:scale(1.05);
  background: linear-gradient(135deg,#ffe066,#ffffff);
}

/* scrollbar */
.scrollFeed::-webkit-scrollbar{
  width:6px;
}

.scrollFeed::-webkit-scrollbar-thumb{
  background:#4facfe;
  border-radius:10px;
}

/* ANIMATIONS */
@keyframes pop{
  0%,100%{transform:scale(1);}
  50%{transform:scale(1.08);}
}

/* RESPONSIVE */
@media(max-width:900px){
  .layout{
    flex-direction:column;
  }

  .side{
    display:none;
  }
}