.videoBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.alllevels {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  width: 120px;
  height: 120px;
  
  /* padding: 40px; */
  transition: 0.3s;
  
  border-radius: 15px;
  background: #00b2fe57;
  display: flex;
  align-items: center;
  justify-content: center;

}

.cards:hover {
  transform: scale(1.1);
}


.link {
  text-decoration: none;
  color: #fff;
}

.cards h6 {
  font-size: 14px;
  margin-top: 8px;
}


.locked {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lockImg {
  width: 50px; /* أو الحجم المناسب */
  height: 50px;
  object-fit: contain;
}


@media (max-width: 769px) {
  .cards {
    width: 120px;
    height: 120px;

  }
}
