.navbar{
  position:sticky;
  top:15px;

  width:95%;
  max-width:1200px;

  margin:auto;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:15px 25px;

  border-radius:25px;

  backdrop-filter:blur(15px);

  background:rgba(255,255,255,.1);

  border:1px solid rgba(255,255,255,.2);

  box-shadow:
  0 10px 30px rgba(0,0,0,.2);

  z-index:999;
}

.logo{
  color:white;
  font-size:28px;
  font-weight:700;

  animation:logoGlow 2s infinite;
}

.navLinks{
  display:flex;
  gap:15px;
}

.navLinks a{
  color:white;
  text-decoration:none;

  display:flex;
  align-items:center;
  gap:8px;

  padding:12px 18px;

  border-radius:15px;

  transition:.3s;
}

.navLinks a:hover{
  background:rgba(255,255,255,.15);

  transform:translateY(-3px);

  box-shadow:
  0 0 20px rgba(79,172,254,.6);
}

.navLinks a.active{
  background:linear-gradient(
  135deg,
  #4facfe,
  #00f2fe
  );

  color:white;
}

@keyframes logoGlow{

  0%,100%{
    text-shadow:
    0 0 10px #4facfe;
  }

  50%{
    text-shadow:
    0 0 25px #00f2fe,
    0 0 40px #4facfe;
  }

}

@media(max-width:768px){

  .navbar{
    flex-direction:column;
    gap:15px;
  }

  .navLinks{
    flex-wrap:wrap;
    justify-content:center;
  }

}