.course-container {
  text-align: center;
  padding: 40px;
  /* background: linear-gradient(135deg, #e0f7ff, #f9fcff); */
  min-height: 100vh;
  
}

.title {
  font-size: 32px;
  margin-bottom: 30px;
  color: #fff;

}

.course-grid {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.course-card {
  width: 200px;
  height: 200px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
  animation: float 3s ease-in-out infinite;
}

.course-card:hover {
  transform: scale(1.1) rotate(-2deg);
  background: #3498db;
  color: white;
}

.icon {
  font-size: 40px;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}